server {
    listen 80;
    listen [::]:80;

    server_name rss.{{ domain }};

    set $freshrss freshrss;
    resolver 127.0.0.11;

    include snippets/ssl.nginx.conf*;

    location / {
        # enable the next two lines for http auth
        #auth_basic "Restricted";
        #auth_basic_user_file /config/nginx/.htpasswd;

        # enable for ldap auth (requires ldap-server.conf in the server block)
        #include /config/nginx/ldap-location.conf;

        # enable for Authelia (requires authelia-server.conf in the server block)
        #include /config/nginx/authelia-location.conf;

        # enable for Authentik (requires authentik-server.conf in the server block)
        #include /config/nginx/authentik-location.conf;

        set $upstream_app freshrss;
        set $upstream_port 80;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;

        proxy_buffering off;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_cookie_path / "/; HTTPOnly; Secure";
        proxy_set_header Authorization $http_authorization;
        proxy_pass_header Authorization;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot/;
    }
}
