utils/certbot/conf
utils/certbot/www
utils/certbot/cloudflare.ini
utils/ddclient/conf/ddclient.conf
data

**/generated

**/.DS_Store

services/jellyfin/cache
services/jellyfin/config
services/jellyseerr/config
services/organizr/config
services/starr/prowlarr
services/starr/radarr
services/starr/sonarr
services/qbittorrent/config
services/portainer/data
services/tandoor/.env
services/tandoor/mediafiles
services/tandoor/staticfiles
services/tandoor/postgresql
services/mediatracker/data
services/freshrss/config

.venv

inventory.yml
vault/secrets.yml

backup_temp/*