ungrouped:
  hosts:
    localhost:
      ansible_connection: local
      ansible_address: 127.0.0.1
      ansible_python_interpreter: {{ python_interpreter_path }}
      domain: {{ domain }}
      cloudflare_api_token: {{ cloudflare_api_token }}
      tandoor_db_secret_key: {{ tandoor_db_secret_key }}
      tandoor_db_password: {{ tandoor_db_password }}

