[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start_dev_server = "./scripts/start_dev_server.sh"
deploy = "./scripts/deploy.sh"
update_cert = "./scripts/update_cert.sh"
