server {
    listen 80;
    listen [::]:80;

    server_name media.{{ domain }};

    location / {
        return 301 https://media.{{ domain }}$request_uri;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot/;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;

    server_name media.{{ domain }};

    set $radarr radarr;
    set $sonarr sonarr;
    set $prowlarr prowlarr;
    resolver 127.0.0.11;

    include snippets/ssl.nginx.conf*;

    location /movies {
        proxy_pass http://$radarr:7878;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;

        # Allow the API External Access via NGINX
        location /movies/api {
            auth_basic off;
            proxy_pass http://$radarr:7878;
        }
    }

    location /tv {
        proxy_pass http://$sonarr:8989;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;

        # Allow the API External Access via NGINX
        location /tv/api {
            auth_basic off;
            proxy_pass http://$sonarr:8989;
        }
    }

    location / {
        proxy_pass http://$prowlarr:9696;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $http_connection;

        # Allow the API/Indexer External Access via NGINX
        location ~ /prowlarr(/[0-9]+)?/api {
            auth_basic off;
            proxy_pass http://$prowlarr:9696;
        }
    }
}