server {
    listen 80;
    listen [::]:80;

    server_name portainer.{{ domain }};

    set $portainer portainer;
    resolver 127.0.0.11;

    include snippets/ssl.nginx.conf*;

    location / {
        proxy_pass  https://$portainer:9443;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot/;
    }
}
