listen 443 ssl;
listen [::]:443 ssl;
http2 on;

if ($scheme = "http") {
    return 301 https://$host$request_uri;
}

ssl_certificate /etc/letsencrypt/live/wrightlyons.com/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/wrightlyons.com/privkey.pem;